<button
  (click)="dogService.fetchDogs()"
  [disabled]="dogService.isLoading()"
  class="mt-6 md:mt-0 bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-6 rounded-lg shadow-md transition-all disabled:opacity-50 disabled:cursor-not-allowed"
>
  {{ dogService.isLoading() ? 'Loading...' : 'Bring me 3 dogs!' }}
</button>

@if (dogService.isError()) {
  <div class="mb-6 text-center p-4 bg-red-50 rounded-xl">
    <p class="text-red-600 font-bold">There has been an error while fetching. Please try again.</p>
  </div>
}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <app-dog-card
    [imageUrl]="dogService.dogImages()[0] || ''"
    [name]="'Hound Basset'"
    [description]="'Friendly, intelligent, and devoted.'"
    [isLoading]="dogService.isLoading()"
  >
  </app-dog-card>

  <app-dog-card
    [imageUrl]="dogService.dogImages()[1] || ''"
    [name]="'Hound Walker'"
    [description]="'Playful, smart, and adaptable.'"
    [isLoading]="dogService.isLoading()"
  >
  </app-dog-card>

  <app-dog-card
    [imageUrl]="dogService.dogImages()[2] || ''"
    [name]="'Hound Afghan'"
    [description]="'Confident, courageous, and smart.'"
    [isLoading]="dogService.isLoading()"
  >
  </app-dog-card>
</div>
